# TEAM: enterprise_enablement
openapi: 3.0.0
x-explorer-enabled: false
x-samples-languages:
  - curl
servers:
  - description: Flexport API
    url: 'https://api.flexport.com/'
info:
  description: Flexport's Public API
  version: 2.0.0
  title: Flexport API
  contact:
    email: help@flexport.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  /booking_amendments:
    post:
      tags:
        - BookingAmendment
      operationId: booking_amendment_create
      summary: Create and return a booking amendment - a request to change an existing booking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingAmendment'
            example:
              booking_id: 12345
              new_name: Valentine's Day - 2020
              new_container_counts:
                twenty_ft: 2
                forty_ft: 3
                forty_ft_hc: 4
                forty_five_ft_hc: 5
              new_wants_pickup_service: false
              new_origin_address_ref: warehouse_cn
              new_origin_port_loc_code: CNSZP
              new_cargo_ready_date: '2019-06-30'
              new_cargo:
                volume:
                  value: 472.62
                  unit: cbm
                weight:
                  value: 2300.4
                  unit: kg
                marks_and_numbers: Fragile
                shipping_units:
                  - name: Watches
                    volume:
                      value: 472.62
                      unit: cbm
                    weight:
                      value: 2300.4
                      unit: kg
                    height:
                      value: 472.62
                      unit: cm
                    length:
                      value: 472.62
                      unit: cm
                    width:
                      value: 472.62
                      unit: cm
                    count: 9
                    atomic_count: 9
                    unit_type: carton
                contains_hazmat: true
                contains_magnets: true
                contains_other_dangerous_goods: true
                contains_li_ion: true
                contains_non_li_ion_battery: true
                lithium_batteries_packing_types:
                  - packed_loose
              new_metadata:
                PO:
                  - '12345'
                SKU:
                  - abc123
      responses:
        '200':
          description: The created booking amendment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingAmendment'
              examples:
                response:
                  summary: Success
                  value:
                    _object: /api/response
                    version: 2
                    data:
                      _object: /booking_amendment
                      id: 2983
                      booking_id: 12345
                      is_pending: false
                      new_name: Valentine's Day - 2020
                      new_container_counts:
                        twenty_ft: 2
                        forty_ft: 3
                        forty_ft_hc: 4
                        forty_five_ft_hc: 5
                      new_wants_pickup_service: false
                      new_origin_address_ref: warehouse_cn
                      new_origin_port:
                        _object: /place
                        name: 'Shanghai, China'
                        address:
                          _object: /address
                          street_address: 123 Queen St
                          street_address2: null
                          city: Shanghai
                          state: null
                          country: China
                          country_code: CN
                          zip: null
                          unlocode: CNSHA
                          timezone: China/Shanghai
                          ref: null
                        details:
                          - _object: /trucking/port
                            port_code: 57035
                          - _object: /ocean/port
                            port_code: 57035
                      new_cargo_ready_date: '2019-06-30'
                      new_cargo:
                        volume:
                          value: 472.62
                          unit: cbm
                        weight:
                          value: 2300.4
                          unit: kg
                        marks_and_numbers: Fragile
                        shipping_units:
                          - name: Watches
                            volume:
                              value: 472.62
                              unit: cbm
                            weight:
                              value: 2300.4
                              unit: kg
                            height:
                              value: 472.62
                              unit: cm
                            length:
                              value: 472.62
                              unit: cm
                            width:
                              value: 472.62
                              unit: cm
                            count: 9
                            atomic_count: 9
                            unit_type: carton
                        contains_hazmat: true
                        contains_magnets: true
                        contains_other_dangerous_goods: true
                        contains_li_ion: true
                        contains_non_li_ion_battery: true
                        lithium_batteries_packing_types:
                          - packed_loose
                      new_metadata:
                        PO:
                          - '12345'
                        SKU:
                          - abc123
  /booking_line_items:
    get:
      tags:
        - BookingLineItem
      operationId: booking_line_item_index
      summary: List all booking line items
      description: Returns a list of booking line items
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive)
          required: false
          schema:
            type: integer
            example: 20
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: sort
          description: Sort results by the specified field
          required: false
          schema:
            type: string
            enum:
              - cargo_ready_date
              - created_at
        - in: query
          name: direction
          description: Set sort order. Allows "asc" (ascending) or "desc"  (descending)
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - in: query
          name: f.purchase_order.id
          description: Filters for all booking line items from a purchase order
          required: false
          schema:
            type: integer
            example: 123
      responses:
        '200':
          description: collection of booking line items
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/booking_line_items'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/booking_line_items?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/booking_line_items?page=3&per=10'
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BookingLineItem'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/booking_line_items?page=13&per=10'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: 'https://api.flexport.com/booking_line_items?page=12&per=10'
                      next: null
                      data:
                        - _object: /purchase_orders/booking_line_item
                          id: 123456
                          booking:
                            _object: /api/refs/object
                            ref_type: /booking
                            link: 'https://api.flexport.com/bookings/9876'
                            id: 9876
                          purchase_order_line_item:
                            _object: /api/refs/object
                            ref_type: /purchase_orders/line_item
                            link: 'https://api.flexport.com/purchase_order_line_items/112358'
                            id: 112358
                          units: 200
    post:
      tags:
        - BookingLineItem
      operationId: booking_line_item_create
      summary: Create a booking line item
      description: Creates and returns a booking line item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingLineItem'
            example:
              purchase_order_line_item_id: 112358
              booking_id: 9876
              units: 200
      responses:
        '200':
          description: The created booking line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingLineItem'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /purchase_orders/booking_line_item
                    id: 123456
                    booking:
                      _object: /api/refs/object
                      ref_type: /booking
                      link: 'https://api.flexport.com/bookings/9876'
                      id: 9876
                    purchase_order_line_item:
                      _object: /api/refs/object
                      ref_type: /purchase_orders/line_item
                      link: 'https://api.flexport.com/purchase_order_line_items/112358'
                      id: 112358
                    units: 200
  '/booking_line_items/:id':
    get:
      tags:
        - BookingLineItem
      operationId: booking_line_item_show
      summary: Retrieves the details of a single booking line item.
      description: Returns a list of booking line items
      parameters:
        - in: path
          name: id
          description: The unique id for the booking line item to be retrieved
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A collection of booking line items
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/booking_line_items/123456'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/BookingLineItem'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /purchase_orders/booking_line_item
                    id: 123456
                    booking:
                      _object: /api/refs/object
                      ref_type: /booking
                      link: 'https://api.flexport.com/bookings/9876'
                      id: 9876
                    purchase_order_line_item:
                      _object: /api/refs/object
                      ref_type: /purchase_orders/line_item
                      link: 'https://api.flexport.com/purchase_order_line_items/112358'
                      id: 112358
                    units: 200
  /bookings:
    get:
      tags:
        - Booking
      operationId: bookings_index
      summary: List all bookings
      description: Returns a list of bookings.
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive).
          required: false
          schema:
            type: integer
            example: 20
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: sort
          description: Sort results by the specified field.
          required: false
          schema:
            type: string
            enum:
              - cargo_ready_date
              - created_at
        - in: query
          name: direction
          description: Set sort order. Allows "asc"(ascending) or "desc" (descending).
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - in: query
          name: f.status
          description: Filter the list based on status of the booking
          required: false
          schema:
            type: string
            enum:
              - booked
              - submitted
        - in: query
          name: f.shipment.id
          description: Filter by the shipment resulting from the booking
          required: false
          schema:
            type: integer
            example: 123456
        - in: query
          name: f.consignee_entity_ref
          description: Filters the list based on the booking's consignee
          required: false
          schema:
            type: string
            example: amazon-us
        - in: query
          name: f.shipper_entity_ref
          description: Filters the list based on the booking's shipper
          required: false
          schema:
            type: string
            example: amazon-us
        - in: query
          name: f.cargo_ready_date
          description: Filters the list for bookings with the specified cargo ready date
          required: false
          schema:
            type: string
        - in: query
          name: f.cargo_ready_date.gt
          description: Filters the list for bookings with cargo ready date after the specified date
          required: false
          schema:
            type: string
        - in: query
          name: f.cargo_ready_date.gte
          description: 'Filters the list for bookings with cargo ready date after the specified date, inclusive'
          required: false
          schema:
            type: string
        - in: query
          name: f.cargo_ready_date.lt
          description: Filters the list for bookings with cargo ready date before the specified date
          required: false
          schema:
            type: string
        - in: query
          name: f.cargo_ready_date.lte
          description: 'Filters the list for bookings with cargo ready date before the specified date, inclusive'
          required: false
          schema:
            type: string
        - in: query
          name: f.created_at
          description: Filters the list for bookings with the specified created_at
          required: false
          schema:
            type: string
        - in: query
          name: f.created_at.gt
          description: Filters the list for bookings created after the specified date
          required: false
          schema:
            type: string
        - in: query
          name: f.created_at.gte
          description: 'Filters the list for bookings created after the specified date, inclusive'
          required: false
          schema:
            type: string
        - in: query
          name: f.created_at.lt
          description: Filters the list for bookings created before the specified date
          required: false
          schema:
            type: string
        - in: query
          name: f.created_at.lte
          description: 'Filters the list for bookings created before the specified date, inclusive'
          required: false
          schema:
            type: string
        - in: query
          name: f.metadata.YOUR_METADATA_KEY
          description: |
            Filters the list for bookings that have a specific metadata key-value pair. Multiple metadata filters can be added to a single query. If there are multiple metadata filters each with the same metadata key, then the filter will return bookings matching any of the specified metadata values for that metadata key. Note that ksys must be URL encoded; e.g.: `f.metadata.PO #=123` is invalid. It should instead be `f.metadata.PO%20%23`
          required: false
          schema:
            type: string
      responses:
        '200':
          description: collection of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/bookings'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/bookings?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/bookings?page=3&per=10'
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Booking'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/bookings?page=13&per=10'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: 'https://api.flexport.com/bookings?page=12&per=10'
                      next: null
                      data:
                        - id: 2983
                          _object: /booking
                          name: ABC Shipment
                          transportation_mode: ocean
                          updated_at: '2019-02-06T19:28:25.119Z'
                          incoterm: FOB
                          calculated_volume:
                            _object: /quantity/volume
                            value: 472.62
                            unit: cbm
                          calculated_weight:
                            _object: /quantity/weight
                            value: 2300.4
                            unit: kg
                          pieces: 8372
                          departure_date: '2019-02-06T19:28:25.119Z'
                          arrival_date: '2019-02-06T19:28:25.119Z'
                          status: in_transition_to_arrival_port
                          picked_up_in_full_date: '2019-02-06T19:28:25.119Z'
                          delivered_in_full_date: '2019-02-06T19:28:25.119Z'
                          cargo_ready_date: '2019-02-06'
                          ocean_shipment:
                            _object: /ocean/shipment
                            house_bill_number: TUWSANR18658
                            master_bill_number: NEWO697216024
                            carrier_booking_number: '697216024'
                            containers:
                              _object: /api/refs/collection
                              ref_type: /ocean/shipment_container
                              link: 'https://api.flexport.com/ocean/shipment_containers?f.shipment.id=123'
                          air_shipment: null
                          shippers:
                            - _object: /company_entity
                              id: 9281
                              name: Zoomit
                              mailing_address:
                                _object: /address
                                street_address: 1641 Settlers Lane
                                street_address2: STE 2918
                                city: Albany
                                state: MN
                                country: United States of America
                                country_code: US
                                zip: '56307'
                                unlocode: US AL2
                                timezone: America/Los_Angeles
                                ref: null
                              vat_numbers:
                                - _object: company_entity/vat_number
                                  country_code: US
                                  number: US 123746396
                          consignees:
                            - _object: /company_entity
                              id: 9281
                              name: Zoomit
                              mailing_address:
                                _object: /address
                                street_address: 1641 Settlers Lane
                                street_address2: STE 2918
                                city: Albany
                                state: MN
                                country: United States of America
                                country_code: US
                                zip: '56307'
                                unlocode: US AL2
                                timezone: America/Los_Angeles
                                ref: null
                              vat_numbers:
                                - _object: company_entity/vat_number
                                  country_code: US
                                  number: US 123746396
                          items:
                            - _object: /shipment_item
                              id: 29820
                              total_units: 523
                              total_weight:
                                _object: /quantity/weight
                                value: 2300.4
                                unit: kg
                              total_volume:
                                _object: /quantity/volume
                                value: 472.62
                                unit: cbm
                              purchase_order_number: PO002811
                              product:
                                _object: /product
                                id: 84291
                                name: AC Adapter 12V
                                sku: WDVCDFD-RM00472
                          legs:
                            _object: /api/refs/collection
                            ref_type: /shipment_leg
                            link: 'https://api.flexport.com/shipment_legs?f.shipment.id=123'
                          metadata:
                            purchase_order:
                              - '12345'
                            sku:
                              - abc123
                          created_at: '2019-01-10T12:12:13.223Z'
    post:
      tags:
        - Booking
      operationId: booking_create
      summary: Create and return a booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
            example:
              name: PO 123
              shipper_entity_ref: shipper_company_name_ltd
              consignee_entity_ref: self
              notify_party: null
              ocean_booking:
                is_lcl: false
                incoterm: FOB
                container_counts:
                  twenty_ft: 2
                  forty_ft: 3
                  forty_ft_hc: 4
                  forty_five_ft_hc: 5
                product_descriptions:
                  - description: Watches
                    hs_code: '9101.00'
                    description_for_export_customs: 手表
                    description_for_export_customs_locale: zh_CN
                wants_pickup_service: false
                wants_delivery_service: false
                origin_port_loc_code: CNSZP
                destination_port_us_cbp_port_code: '2704'
              origin_address_ref: warehouse_cn
              destination_address_ref: warehouse_us
              cargo_ready_date: '2019-06-30'
              delivery_date: '2019-07-31'
              wants_export_customs_service: true
              cargo:
                volume:
                  value: 472.62
                  unit: cbm
                weight:
                  value: 2300.4
                  unit: kg
                marks_and_numbers: Fragile
                shipping_units:
                  - name: Watches
                    volume:
                      value: 472.62
                      unit: cbm
                    weight:
                      value: 2300.4
                      unit: kg
                    height:
                      value: 472.62
                      unit: cm
                    length:
                      value: 472.62
                      unit: cm
                    width:
                      value: 472.62
                      unit: cm
                    count: 9
                    atomic_count: 9
                    unit_type: carton
                contains_hazmat: true
                contains_magnets: true
                contains_other_dangerous_goods: true
                contains_li_ion: true
                contains_non_li_ion_battery: true
                lithium_batteries_packing_types:
                  - packed_loose
              special_instructions: Handle carefully
              metadata:
                purchase_order:
                  - '12345'
                sku:
                  - abc123
      responses:
        '200':
          description: The created booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                response:
                  summary: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/bookings/1234'
                    version: 2
                    data:
                      id: 2983
                      _object: /booking
                      name: PO 123
                      shipper_entity:
                        _object: /company_entity
                        id: 9281
                        name: My Manufacturer
                        ref: manufacturer_1
                        mailing_address:
                          _object: /address
                          street_address: 1641 Settlers Lane
                          street_address2: STE 2918
                          city: Albany
                          state: MN
                          country: United States of America
                          country_code: US
                          zip: '56307'
                          unlocode: US AL2
                          timezone: America/Los_Angeles
                          ref: null
                        vat_numbers:
                          - _object: company_entity/vat_number
                            country_code: US
                            number: US 123746396
                      consignee_entity:
                        _object: /company_entity
                        id: 9281
                        name: Zoomit
                        ref: self
                        mailing_address:
                          _object: /address
                          street_address: 1641 Settlers Lane
                          street_address2: STE 2918
                          city: Albany
                          state: MN
                          country: United States of America
                          country_code: US
                          zip: '56307'
                          unlocode: US AL2
                          timezone: America/Los_Angeles
                          ref: null
                        vat_numbers:
                          - _object: company_entity/vat_number
                            country_code: US
                            number: US 123746396
                      notify_party: null
                      transportation_mode: ocean
                      ocean_booking:
                        _object: /ocean/booking
                        is_lcl: false
                        container_counts:
                          _object: /container_counts
                          twenty_ft: 2
                          forty_ft: 3
                          forty_ft_hc: 4
                          forty_five_ft_hc: 5
                        incoterm: FOB
                        wants_pick_up_service: false
                        wants_delivery_service: false
                        origin_port:
                          _object: /place
                          name: 'Shenzhen, China'
                          address:
                            _object: /address
                            street_address: 123 Queen St
                            street_address2: null
                            city: Shanghai
                            state: null
                            country: China
                            country_code: CN
                            zip: null
                            unlocode: CNSZP
                            timezone: America/Los_Angeles
                            ref: null
                          details:
                            - _object: /trucking/port
                              port_code: 57035
                            - _object: /ocean/port
                              port_code: 57035
                        destination_port:
                          _object: /place
                          name: 'Long Beach, Los Angeles, California'
                          address:
                            _object: /address
                            street_address: 123 Queen St
                            street_address2: null
                            city: Los Angeles
                            state: null
                            country: United States
                            country_code: US
                            zip: null
                            unlocode: USLA
                            timezone: America/Los_Angeles
                            ref: null
                          details:
                            - _object: /trucking/port
                              port_code: 2704
                            - _object: /ocean/port
                              port_code: 2704
                        product_descriptions:
                          - _object: /bookings/product_descriptions
                            description: Watches
                            description_for_export_customs: 手表
                            description_for_export_customs_locale: zh_CN
                            hs_code:
                              _object: /hs_code
                              description: 'N-Butyl-2,2,6,6-tetramethylpiperidin-4-amine (CAS No. 36177-92-1) (provided for in subheading 2933.39.91)'
                              code: '9101.00'
                      air_booking: null
                      trucking_booking: null
                      origin_address:
                        _object: /address
                        street_address: 1641 Settlers Lane
                        street_address2: STE 2918
                        city: Albany
                        state: MN
                        country: United States of America
                        country_code: US
                        zip: '56307'
                        unlocode: US AL2
                        timezone: America/Los_Angeles
                        ref: warehouse_cn
                      cargo_ready_date: '2019-05-30'
                      destination_address:
                        _object: /address
                        street_address: 325 Balboa St
                        street_address2: Apt 6
                        city: San Francisco
                        state: CA
                        country: United States of America
                        country_code: US
                        zip: '94113'
                        unlocode: US SF3
                        timezone: America/Los_Angeles
                        ref: warehouse_us
                      delivery_date: '2019-05-30'
                      wants_export_customs_service: true
                      cargo:
                        volume:
                          _object: /quantity/volume
                          value: 472.62
                          unit: cbm
                        weight:
                          _object: /quantity/weight
                          value: 2300.4
                          unit: kg
                        marks_and_numbers: Fragile
                        shipping_units:
                          - name: Watches
                            volume:
                              _object: /quantity/volume
                              value: 472.62
                              unit: cbm
                            weight:
                              _object: /quantity/weight
                              value: 2300.4
                              unit: kg
                            height:
                              _object: /quantity/length
                              value: 472.62
                              unit: cm
                            length:
                              _object: /quantity/length
                              value: 472.62
                              unit: cm
                            width:
                              _object: /quantity/length
                              value: 472.62
                              unit: cm
                            count: 9
                            atomic_count: 9
                            unit_type: carton
                        contains_hazmat: true
                        contains_magnets: true
                        contains_other_dangerous_goods: true
                        contains_li_ion: true
                        contains_no_li_ion_battery: true
                        lithium_batteries_packing_types:
                          - packed_loose
                      special_instructions: Handle carefully
                      metadata:
                        purchase_order:
                          - '12345'
                        sku:
                          - abc123
                      created_at: '2019-04-01T18:44:34.098Z'
  '/bookings/:id':
    get:
      tags:
        - Booking
      operationId: booking_show
      summary: Retrieve a booking
      description: |
        Retrieves the details of a single booking.
      parameters:
        - in: path
          name: id
          description: The unique id for the booking to be retrieved
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/bookings/1234'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/Booking'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/bookings/1234'
                    version: 2
                    data:
                      id: 2983
                      _object: /booking
                      name: PO 123456
                      shipper_entity:
                        _object: /company_entity
                        id: 9281
                        name: Zoomit
                        mailing_address:
                          _object: /address
                          street_address: 1641 Settlers Lane
                          street_address2: STE 2918
                          city: Albany
                          state: MN
                          country: United States of America
                          country_code: US
                          zip: '56307'
                          unlocode: US AL2
                          timezone: America/Los_Angeles
                          ref: null
                        vat_numbers:
                          - _object: company_entity/vat_number
                            country_code: US
                            number: US 123746396
                      consignee_entity:
                        _object: /company_entity
                        id: 9281
                        name: Zoomit
                        mailing_address:
                          _object: /address
                          street_address: 1641 Settlers Lane
                          street_address2: STE 2918
                          city: Albany
                          state: MN
                          country: United States of America
                          country_code: US
                          zip: '56307'
                          unlocode: US AL2
                          timezone: America/Los_Angeles
                          ref: null
                        vat_numbers:
                          - _object: company_entity/vat_number
                            country_code: US
                            number: US 123746396
                      notify_party: Jane Doe; jane@example.com; 905-555-1234
                      transportation_mode: ocean
                      ocean_booking:
                        _object: /ocean/booking
                        is_lcl: false
                        container_counts:
                          _object: /container_counts
                          twenty_ft: 1
                          forty_ft: 2
                          forty_ft_hc: 4
                          forty_five_ft_hc: 8
                        incoterm: FOB
                        wants_pick_up_service: true
                        wants_delivery_service: false
                        origin_port:
                          _object: /place
                          name: 'Shanghai, China'
                          address:
                            _object: /address
                            street_address: 123 Queen St
                            street_address2: null
                            city: Shanghai
                            state: null
                            country: China
                            country_code: CN
                            zip: null
                            unlocode: CNSHA
                            timezone: China/Shanghai
                            ref: null
                          details:
                            - _object: /trucking/port
                              port_code: 57035
                            - _object: /ocean/port
                              port_code: 57035
                        destination_port:
                          _object: /place
                          name: 'Shanghai, China'
                          address:
                            _object: /address
                            street_address: 123 Queen St
                            street_address2: null
                            city: Shanghai
                            state: null
                            country: China
                            country_code: CN
                            zip: null
                            unlocode: CNSHA
                            timezone: China/Shanghai
                            ref: null
                          details:
                            - _object: /trucking/port
                              port_code: 57035
                            - _object: /ocean/port
                              port_code: 57035
                      air_booking: null
                      trucking_booking: null
                      origin_address:
                        _object: /address
                        street_address: 1641 Settlers Lane
                        street_address2: STE 2918
                        city: Albany
                        state: MN
                        country: United States of America
                        country_code: US
                        zip: '56307'
                        unlocode: US AL2
                        timezone: America/Los Angeles
                        ref: null
                      cargo_ready_date: '2019-01-30'
                      destination_address:
                        _object: /address
                        street_address: 325 Balboa St
                        street_address2: Apt 6
                        city: San Francisco
                        state: CA
                        country: United States of America
                        country_code: US
                        zip: '94113'
                        unlocode: US SF3
                        timezone: America/Los Angeles
                        ref: null
                      delivery_date: '2019-02-22'
                      wants_export_customs_service: true
                      cargo:
                        volume: 9.8
                        weight: 8.7
                        marks_and_numbers: Very fragile
                        shipping_units:
                          - name: Airplanes
                            volume: 9.8
                            weight: 8.7
                            height: 4.5
                            length: 3.2
                            width: 2.1
                            count: 3
                            atomic_count: 9
                            description: Model airplanes
                            unit_type: carton
                        contains_hazmat: false
                        contains_magnets: false
                        contains_other_dangerous_goods: false
                        contains_li_ion: true
                        contains_no_li_ion_battery: false
                        lithium_batteries_packing_types:
                          - contained_in_equipment
                      special_instructions: ''
                      metadata:
                        purchase_order:
                          - '12345'
                        sku:
                          - abc123
                      created_at: '2019-04-01T18:44:34.098Z'
  /carbon_calculation:
    post:
      tags:
        - Carbon Calculation
      operationId: carbon_calculation_create
      summary: Return a new carbon calculation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCarbonCalculation'
            example:
              weight:
                value: 40
                unit: kg
              transportation_mode: air
              origin_coordinates:
                latitude: 37.78
                longitude: -12.41
              destination_port: JFK
      responses:
        '200':
          description: The new carbon calculation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonCalculation'
              examples:
                response:
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/carbon_calculation'
                    version: 2
                    data:
                      _object: /carbon_calculation
                      co2e_emissions:
                        value: 0.13
                        unit: t
                        _object: /quantity/weight
                    error: null
  /commercial_invoices:
    get:
      tags:
        - Commercial Invoices
      operationId: commercial_invoices_index
      summary: List commercial invoices
      description: Returns a list of commercial invoices.
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive)
          required: false
          schema:
            type: integer
            example: 20
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: f.shipment.id
          description: The unique id for the shipment.
          required: false
          schema:
            type: string
        - in: query
          name: f.invoice_number
          description: Filters results based on the invoice number.
          required: false
          schema:
            type: string
        - in: query
          name: f.involved_party_seller_id
          description: Filters results based on the involved party seller ID.
          required: false
          schema:
            type: string
        - in: query
          name: f.involved_party_seller_ref
          description: Filters results based on the invoolved party seller ref.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/commercial_invoices?page=2&per=10'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/commercial_invoices?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/commercial_invoices?page=3&per=10'
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CommercialInvoice'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/commercial_invoices?page=2&per=10'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: 'https://api.flexport.com/commercial_invoices?page=1&per=10'
                      next: null
                      data:
                        - _object: /commercial_invoices
                          id: abcxyz-23456-def
                          invoice_number: ABCDEFGHIJKLMNOP
                          manufacturer_addresses:
                            - _object: /address
                              street_address: 1641 Settlers Lane
                              street_address2: STE 2918
                              city: Albany
                              state: MN
                              country: United States of America
                              country_code: US
                              zip: '56307'
                              unlocode: US AL2
                              timezone: America/Los_Angeles
                              ref: id-3333
                          total_value:
                            _object: /money
                            amount: '100'
                            currency_code: USD
                          total_unit_count: '12345'
                          total_weight:
                            _object: /quantity/weight
                            value: 100
                            unit: kg
                          total_volume:
                            _object: /quantity/volume
                            value: 100
                            unit: cbm
                          line_items:
                            - _object: /commercial_invoice_line_item
                              price_per_unit:
                                _object: /money
                                amount: '12.34'
                                currency_code: USD
                              value:
                                _object: /money
                                amount: '12.34'
                                currency_code: USD
                              total_units: 10
                              container_number: XYZ123
                              purchase_order_number: 9876-ABC
                              weight:
                                _object: /quantity/weight
                                value: '12.34'
                                unit: kg
                              volume:
                                _object: /quantity/volume
                                value: '12.34'
                                unit: cbm
                              product:
                                _object: /api/refs/object
                                ref_type: /product
                                link: 'https://api.flexport.com/products/12345'
                                id: 12345
                          shipment:
                            _object: /api/refs/object
                            ref_type: /shipment
                            link: 'https://api.flexport.com/shipments/123456'
                            id: 123456
                      error: null
    post:
      tags:
        - Commercial Invoices
      operationId: commercial_invoices_create
      summary: 'Create and return a new commercial invoice. Special permissions are required to use this endpoint, please contact your integration team for more details.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommercialInvoice'
      responses:
        '200':
          description: The created commercial invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialInvoice'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/commercial_invoices'
                    version: 2
                    data:
                      _object: /commercial_invoice
                      data:
                        id: abcxyz-23456-def
                        invoice_number: ABCDEFGHIJKLMNOP
                        manufacturer_addresses:
                          - _object: /address
                            street_address: 1641 Settlers Lane
                            street_address2: STE 2918
                            city: Albany
                            state: MN
                            country: United States of America
                            country_code: US
                            zip: '56307'
                            unlocode: US AL2
                            timezone: America/Los_Angeles
                            ref: id-3333
                        total_value:
                          _object: /money
                          amount: '100'
                          currency_code: USD
                        total_unit_count: '12345'
                        total_weight:
                          _object: /quantity/weight
                          value: 100
                          unit: kg
                        total_volume:
                          _object: /quantity/volume
                          value: 100
                          unit: cbm
                        line_items:
                          - _object: /commercial_invoice_line_item
                            price_per_unit:
                              _object: /money
                              amount: '12.34'
                              currency_code: USD
                            value:
                              _object: /money
                              amount: '12.34'
                              currency_code: USD
                            total_units: 10
                            container_number: XYZ123
                            purchase_order_number: 9876-ABC
                            weight:
                              _object: /quantity/weight
                              value: '12.34'
                              unit: kg
                            volume:
                              _object: /quantity/volume
                              value: '12.34'
                              unit: cbm
                            product:
                              _object: /api/refs/object
                              ref_type: /product
                              link: 'https://api.flexport.com/products/12345'
                              id: 12345
                        shipment:
                          _object: /api/refs/object
                          ref_type: /shipment
                          link: 'https://api.flexport.com/shipments/123456'
                          id: 123456
                      error: null
    patch:
      tags:
        - Commercial Invoices
      operationId: commercial_invoices_update
      summary: 'Update an existing commercial invoice. Special permissions are required to use this endpoint, please contact your integration team for more details.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommercialInvoice'
      responses:
        '200':
          description: The updated commercial invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialInvoice'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/commercial_invoices'
                    version: 2
                    data:
                      _object: /commercial_invoice
                      data:
                        id: abcxyz-23456-def
                        invoice_number: ABCDEFGHIJKLMNOP
                        manufacturer_addresses:
                          - _object: /address
                            street_address: 1641 Settlers Lane
                            street_address2: STE 2918
                            city: Albany
                            state: MN
                            country: United States of America
                            country_code: US
                            zip: '56307'
                            unlocode: US AL2
                            timezone: America/Los_Angeles
                            ref: id-3333
                        total_value:
                          _object: /money
                          amount: '100'
                          currency_code: USD
                        total_unit_count: '12345'
                        total_weight:
                          _object: /quantity/weight
                          value: 100
                          unit: kg
                        total_volume:
                          _object: /quantity/volume
                          value: 100
                          unit: cbm
                        line_items:
                          - _object: /commercial_invoice_line_item
                            price_per_unit:
                              _object: /money
                              amount: '12.34'
                              currency_code: USD
                            value:
                              _object: /money
                              amount: '12.34'
                              currency_code: USD
                            total_units: 10
                            container_number: XYZ123
                            purchase_order_number: 9876-ABC
                            weight:
                              _object: /quantity/weight
                              value: '12.34'
                              unit: kg
                            volume:
                              _object: /quantity/volume
                              value: '12.34'
                              unit: cbm
                            product:
                              _object: /api/refs/object
                              ref_type: /product
                              link: 'https://api.flexport.com/products/12345'
                              id: 12345
                        shipment:
                          _object: /api/refs/object
                          ref_type: /shipment
                          link: 'https://api.flexport.com/shipments/123456'
                          id: 123456
                      error: null
  '/commercial_invoices/:id':
    get:
      tags:
        - Commercial Invoices
      operationId: commercial_invoices_show
      summary: Retrieve a commercial invoice
      description: Retrieves the details of a single commercial invoice.
      parameters:
        - in: path
          name: id
          description: The unique id for the requested commercial invoice
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/commercial_invoices/abcxyz-23456-def'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/CommercialInvoice'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/commercial_invoices/abcxyz-23456-def'
                    version: 2
                    data:
                      _object: /commercial_invoice
                      id: abcxyz-23456-def
                      invoice_number: ABCDEFGHIJKLMNOP
                      manufacturer_addresses:
                        - _object: /address
                          street_address: 1641 Settlers Lane
                          street_address2: STE 2918
                          city: Albany
                          state: MN
                          country: United States of America
                          country_code: US
                          zip: '56307'
                          unlocode: US AL2
                          timezone: America/Los_Angeles
                          ref: id-3333
                      total_value:
                        _object: /money
                        amount: '100'
                        currency_code: USD
                      total_unit_count: '12345'
                      total_weight:
                        _object: /quantity/weight
                        value: 100
                        unit: kg
                      total_volume:
                        _object: /quantity/volume
                        value: 100
                        unit: cbm
                      line_items:
                        - _object: /commercial_invoice_line_item
                          price_per_unit:
                            _object: /money
                            amount: '12.34'
                            currency_code: USD
                          value:
                            _object: /money
                            amount: '12.34'
                            currency_code: USD
                          total_units: 10
                          container_number: XYZ123
                          purchase_order_number: 9876-ABC
                          weight:
                            _object: /quantity/weight
                            value: '12.34'
                            unit: kg
                          volume:
                            _object: /quantity/volume
                            value: '12.34'
                            unit: cbm
                          product:
                            _object: /api/refs/object
                            ref_type: /product
                            link: 'https://api.flexport.com/products/12345'
                            id: 12345
                      shipment:
                        _object: /api/refs/object
                        ref_type: /shipment
                        link: 'https://api.flexport.com/shipments/123456'
                        id: 123456
                    error: null
  /customs_entries:
    get:
      tags:
        - Customs Entries
      operationId: customs_entry_index
      summary: List customs entry objects
      description: Returns a list of customs entries.
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive)
          required: false
          schema:
            type: integer
            example: 20
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: f.shipment.id
          description: The unique id for the shipment.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: collection of customs entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/customs_entries'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/customs_entries?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/customs_entries?page=3&per=10'
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomsEntry'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/customs_entries?page=13&per=10'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: 'https://api.flexport.com/customs_entries?page=12&per=10'
                      next: null
                      data:
                        - _object: /customs_entries
                          id: ABC123
                          entry_number: ABC-123456-7
                          release_status: released
                          release_date: '2019-05-03'
                          shipment:
                            _object: /api/refs/object
                            ref_type: /shipment
                            link: 'https://api.flexport.com/shipments/123456'
                            id: 123456
                      error: null
  '/customs_entries/:id':
    get:
      tags:
        - Customs Entries
      operationId: customs_entries_show
      summary: Retrieve a customs entry
      description: Retrieves the details of a single customs entry.
      parameters:
        - in: path
          name: id
          description: The unique id for the requested customs entry
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/customs_entries/abcdefg-1234567-hijk'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/CustomsEntry'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/customs_entries/abcdefg-1234567-hijk'
                    version: 2
                    data:
                      _object: /customs_entry
                      id: abcdefg-1234567-hijk
                      entry_number: ABC-123456-7
                      release_status: released
                      release_date: '2019-05-03'
                      shipment:
                        _object: /api/refs/object
                        ref_type: /shipment
                        link: 'https://api.flexport.com/shipments/123456'
                        id: 123456
                    error: null
  /documents:
    get:
      tags:
        - Document
      operationId: documents_index
      summary: List document objects
      description: Returns a list of all documents associated with shipments.
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive)
          required: false
          schema:
            type: integer
            example: 20
            default: 20
            minimum: 1
            maximum: 100
        - in: query
          name: f.shipment.id
          description: Filters the list for documents that belong to the given shipment
          required: false
          schema:
            type: string
        - in: query
          name: f.document_type
          description: Filters the list for documents that are the given type
          required: false
          schema:
            type: string
        - in: query
          name: f.archived_at.exists
          description: Filters the list for documents that have been archived
          required: false
          schema:
            type: string
        - in: query
          name: f.uploaded_at.gt
          description: Filters the list for documents that where uploaded after the given time
          required: false
          schema:
            type: string
        - in: query
          name: f.uploaded_at.lt
          description: Filters the list for documents that where uploaded before the given time
          required: false
          schema:
            type: string
        - in: query
          name: f.uploaded_at.gte
          description: Filters the list for documents that where uploaded on or after the given time
          required: false
          schema:
            type: string
        - in: query
          name: f.uploaded_at.lte
          description: Filters the list for documents that where uploaded on or before the given time
          required: false
          schema:
            type: string
      responses:
        '200':
          description: collection of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/documents'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/documents?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/documents?page=3&per=10'
                      total_count:
                        type: integer
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Document'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/documents?page=13&per=10'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: 'https://api.flexport.com/documents?page=12&per=10'
                      next: null
                      total_count: 121
                      data:
                        - _object: /document
                          id: ABC123
                          file_name: readme.txt
                          document_type: billing_packet
                          memo: null
                          file_link: 'https://api.flexport.com/documents/ABC123/download'
                          archived_at: null
                          file_metadata:
                            _object: file/metadata
                            size: 20000
                            uploaded_at: '2019-06-12T02:00:00.338Z'
                          shipment:
                            _object: /api/refs/object
                            ref_type: /shipment
                            link: 'https://api.flexport.com/shipments/123456'
                            id: 123456
                      error: null
  '/documents/{id}':
    get:
      tags:
        - Document
      operationId: documents_show
      summary: Retrieve a document
      description: Retrieves the details of a single document.
      parameters:
        - in: path
          name: id
          description: The unique id for the requested document
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/documents/ABC123'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/Document'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/documents/ABC123'
                    version: 2
                    data:
                      _object: /document
                      id: ABC123
                      file_name: readme.txt
                      document_type: billing_packet
                      memo: null
                      file_link: 'https://api.flexport.com/documents/ABC123/download'
                      archived_at: null
                      file_metadata:
                        _object: file/metadata
                        size: 20000
                        uploaded_at: '2019-06-12T02:00:00.338Z'
                      shipment:
                        _object: /api/refs/object
                        ref_type: /shipment
                        link: 'https://api.flexport.com/shipments/123456'
                        id: 123456
                      error: null
  '/documents/{id}/download':
    get:
      tags:
        - Document
      operationId: documents_download
      summary: Download a document
      description: Retrieves the contents of a specified file. Returns the file as a stream of bytes.
      parameters:
        - in: path
          name: id
          description: The unique id for the requested document
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            application/vnd.ms-excel:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/msword:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
                format: binary
  /events:
    get:
      tags:
        - Event
      operationId: events_index
      summary: List all webhook events
      description: Returns a list of all events delivered to any webhook registered by this client
      parameters:
        - in: query
          name: f.occurred_at.gte
          description: Filter by events which occurred on or after this datetime
          required: false
          schema:
            type: string
          example: 2020-01-10T20:00:00.000Z
        - in: query
          name: f.occurred_at.lte
          description: Filter by events which occurred on or before this datetime
          required: false
          schema:
            type: string
          example: 2020-01-10T20:00:00.000Z
        - in: query
          name: f.data.shipment.id
          description: Get all events which involved the shipment with this ID
          required: false
          schema:
            type: integer
        - in: query
          name: f.data.resource._object
          description: Get all events which involved a resource of this type. The key for this filter will be the '_object' value for your target resource
          required: false
          schema:
            type: string
          example: /invoice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/events'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookEvent'
  '/events/:id':
    get:
      tags:
        - Event
      operationId: events_show
      summary: Retrieve a single webhook event
      description: 'Returns the webhook event with ID ":id"'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/events'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/WebhookEvent'
  /invoices:
    get:
      tags:
        - Invoices
      operationId: invoice_index
      summary: List all invoices
      description: Returns a list of invoices.
      parameters:
        - in: query
          name: page
          description: Page number of the page to retrieve
          required: false
          schema:
            type: integer
            example: 1
            default: 1
            minimum: 1
        - in: query
          name: per
          description: Count of items in each page. Should be between 1 and 100 (inclusive).
          required: false
          schema:
            type: integer
            example: 20
            minimum: 1
            maximum: 100
        - in: query
          name: sort
          description: Sort results by the specified field.
          required: false
          schema:
            type: string
            enum:
              - due_date
        - in: query
          name: direction
          description: Set sort order. Allows "asc"(ascending) or "desc" (descending).
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - in: query
          name: f.status
          description: Filters the list based on the status of the invoice
          required: false
          schema:
            type: string
            enum:
              - outstanding
              - past_due
              - void
              - paid
        - in: query
          name: f.shipment.id
          description: Filters the list for invoices associated with a shipment
          required: false
          schema:
            type: integer
            example: 12345
        - in: query
          name: f.billed_directly_to_client
          description: |
            Filters for invoices that are billed directly to the client, rather than invoices that are billed to a shipment.
            This parameter is mutually exclusive with the f.shipment.id filter.
          required: false
          schema:
            type: boolean
        - in: query
          name: f.entity.id
          description: Filters the list based on the ID of the company entity that receives the invoice
          required: false
          schema:
            type: integer
            example: 12345
        - in: query
          name: f.entity.ref
          description: Filters the list based on the ref of the company entity that receives the invoice
          required: false
          schema:
            type: string
            example: my-entity-ref
        - in: query
          name: f.name
          description: Filters the list based on the name of the invoice
          required: false
          schema:
            type: string
            example: FLEX-123456-1
        - in: query
          name: f.issued_at.gt
          description: Filters the list for invoices issued after the specified date
          required: false
          schema:
            type: string
            example: '2019-06-01'
        - in: query
          name: f.issued_at.lt
          description: Filters the list for invoices issued before the specified date
          required: false
          schema:
            type: string
            example: '2019-06-01T17:29:23.172Z'
        - in: query
          name: f.last_updated_at.gt
          description: Filters the list for invoices last updated after the specified date
          required: false
          schema:
            type: string
            example: '2019-06-01'
        - in: query
          name: f.last_updated_at.lt
          description: Filters the list for invoices last updated before the specified date
          required: false
          schema:
            type: string
            example: '2019-06-01T17:29:23.172Z'
        - in: query
          name: f.client_id
          description: '[DEPRECATED] Filters the list for invoices billed directly to a client'
          required: false
          deprecated: true
          schema:
            type: integer
            example: 54321
        - in: query
          name: f.shipment_id
          description: '[DEPRECATED] Filters the list for invoices associated with a shipment'
          required: false
          deprecated: true
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: collection of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/invoices'
                  version:
                    type: integer
                    example: 2
                  data:
                    type: object
                    properties:
                      _object:
                        type: string
                        example: /api/collections/paginated
                      prev:
                        type: string
                        example: 'https://api.flexport.com/invoices?page=1&per=10'
                      next:
                        type: string
                        example: 'https://api.flexport.com/invoices?page=3&per=10'
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'
              examples:
                response:
                  summary: Success
                  value:
                    - _object: /api/response
                      self: 'https://api.flexport.com/invoices'
                      version: 2
                      data:
                        _object: /api/collections/paginated
                        prev: null
                        next: 'https://api.flexport.com/invoices?page=2&per=10'
                        data:
                          - _object: /invoice
                            id: gwdpaYrhTI-T1ljn1M7o7w
                            name: FLEX-123456-1
                            issued_at: '2019-05-22T18:39:53.679Z'
                            due_date: '2019-05-22'
                            total:
                              _object: /money
                              amount: '6843.29'
                              currency_code: EUR
                            balance:
                              _object: /money
                              amount: '6743.29'
                              currency_code: EUR
                            status: void
                            type: Shipment
                            voided_at: '2019-05-22T20:49:15.639Z'
                            last_updated_at: '2019-05-24T20:49:15.653Z'
                            notes:
                              - |-
                                **Container numbers**

                                1234567
                              - |-
                                **Notes**

                                Other details about this invoice
                            recipient:
                              _object: /company_entity
                              id: 123456
                              name: Your Company Name
                              mailing_address:
                                _object: /address
                                street_address: 123 MAIN ST
                                street_address2: ''
                                city: Anytown
                                state: CA
                                country: United States
                                country_code: US
                                zip: 12345
                                unlocode: null
                                timezone: America/Los_Angeles
                                ref: null
                              ref: id-123456
                              vat_numbers:
                                - _object: company_entity/vat_number
                                  country_code: US
                                  number: US 573467947
                            issuer:
                              _object: /company_entity
                              id: 28714
                              name: Flexport LLC
                              mailing_address:
                                _object: /address
                                street_address: 760 MARKET ST FL 8
                                street_address2: ''
                                city: SAN FRANCISCO
                                state: CA
                                country: United States
                                country_code: US
                                zip: 94102-2300
                                unlocode: null
                                timezone: America/Los_Angeles
                                ref: null
                              ref: id-54321
                              vat_numbers:
                                - _object: company_entity/vat_number
                                  country_code: US
                                  number: US 572559803
                            items:
                              - _object: /invoice_item
                                name: Import Customs Clearance
                                slug: import_customs_clearance
                                category: customs
                                amount:
                                  _object: /money
                                  amount: '125'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '125.00'
                                  qualifier: EUR
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '1'
                                  qualifier: total
                              - _object: /invoice_item
                                name: Fuel Surcharge
                                slug: fuel_surcharge
                                category: destination
                                amount:
                                  _object: /money
                                  amount: '200.61'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '23'
                                  qualifier: '% Cartage Base'
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '872.22'
                                  qualifier: EUR
                              - _object: /invoice_item
                                name: Cartage Base
                                slug: cartage_base
                                category: destination
                                amount:
                                  _object: /money
                                  amount: '872.22'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '0.5233'
                                  qualifier: EUR
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '1667'
                                  qualifier: 100_LB
                              - _object: /invoice_item
                                name: Automated Manifest System
                                slug: automated_manifest_system_freight
                                category: freight
                                amount:
                                  _object: /money
                                  amount: '15'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '15'
                                  qualifier: EUR
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '1'
                                  qualifier: bill of lading
                              - _object: /invoice_item
                                name: Air Freight
                                slug: air_freight
                                category: freight
                                amount:
                                  _object: /money
                                  amount: '5197.13'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '3.1183'
                                  qualifier: EUR
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '1667.67'
                                  qualifier: KG
                              - _object: /invoice_item
                                name: Fuel Surcharge
                                slug: fuel_surcharge
                                category: freight
                                amount:
                                  _object: /money
                                  amount: '433.33'
                                  currency_code: EUR
                                rate:
                                  _object: /invoice/rate
                                  amount: '0.26'
                                  qualifier: EUR
                                quantity:
                                  _object: /invoice/quantity
                                  amount: '1667.67'
                                  qualifier: KG
                            credit_memos:
                              - _object: /credit_memo
                                amount:
                                  _object: /money
                                  amount: '100'
                                  currency_code: EUR
                                category: customs
                                reason: reason for credit
                                credited_at: '2019-05-24T18:39:53.679Z'
                            shipments:
                              _object: /api/refs/collection
                              ref_type: /shipment
                              link: 'https://api.flexport.com/shipments?f.invoice_id=gwdpaYrhTI-T1ljn1M7o7w'
                      error: null
  '/invoices/:id':
    get:
      tags:
        - Invoices
      operationId: invoices_show
      summary: Retrieve an invoice
      description: Retrieves the details of a single invoice
      parameters:
        - in: path
          name: id
          description: The unique id for the invoice to be retrieved
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _object:
                    type: string
                    example: /api/response
                  self:
                    type: string
                    example: 'https://api.flexport.com/invoices/83076969-8ae1-4c8f-93d6-58e7d4cee8ef'
                  version:
                    type: integer
                    example: 2
                  data:
                    $ref: '#/components/schemas/Invoice'
              examples:
                response:
                  summary: Success
                  description: Success
                  value:
                    _object: /api/response
                    self: 'https://api.flexport.com/invoices'
                    version: 2
                    data:
                      _object: /api/collections/paginated
                      prev: null
                      next: 'https://api.flexport.com/invoices?page=2&per=10'
                      data:
                        - _object: /invoice
                          id: gwdpaYrhTI-T1ljn1M7o7w
                          name: FLEX-123456-1
                          issued_at: '2019-05-22T18:39:53.679Z'
                          due_date: '2019-05-22'
                          total:
                            _object: /money
                            amount: '6843.29'
                            currency_code: EUR
                          balance:
                            _object: /money
                            amount: '6743.29'
                            currency_code: EUR
                          status: void
                          type: Shipment
                          voided_at: '2019-05-22T20:49:15.639Z'
                          last_updated_at: '2019-05-24T20:49:15.653Z'
                          notes:
                            - |-
                              **Container numbers**

                              1234567
                            - |-
                              **Notes**

                              Other details about this invoice
                          recipient:
                            _object: /company_entity
                            id: 123456
                            name: Your Company Name
                            mailing_address:
                              _object: /address
                              street_address: 123 MAIN ST
                              street_address2: ''
                              city: Anytown
                              state: CA
                              country: United States
                              country_code: US
                              zip: 12345
                              unlocode: null
                              timezone: America/Los_Angeles
                              ref: null
                            ref: id-123456
                            vat_numbers:
[...]
